@import '~Scss/config';
@import '~Scss/reset';
@import '~Scss/ui';

html {
	height: 100%;

	color: $color-font--main;
	font-size: $font-size--main;
	@include mq('desktop', max) {
		font-size: 15px;
	}
	@include mq('tablet', max) {
		font-size: 14px;
	}
	@include mq('phablet', max) {
		font-size: 13px;
	}
	@include mq('phone', max) {
		font-size: 12px;
	}
}

body {
	margin: 0;
	padding: 0;

	font-weight: $font-weight--main;
	font-size: $font-size--main;
	font-family: $font--main;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
