{
  "parser": "babel-eslint",
  "plugins": [
    "react-pug"
  ],
  "extends": [
    "airbnb",
    "plugin:react-pug/all"
  ],
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": 0
  },
  "env": {
    "browser": true
  }
}
