$c-azure-radiance: #0C89FF;
$c-regal-blue: #003D7A;
$c-malibu: #75BBFF;
$c-solitude: #E2F1FE;
$c-french-pass: #C9E4FE;
$c-mystic: #E0E8EF;
$c-casper: #ACC2D4;

$c-mine-shaft: #373737;

$c-red: #FF0000;

$c-white: #FFFFFF;