@import 'colors';
@import 'typography';


// Size
$color-font--main: $c-mine-shaft;
$font-size--main: $f-main;
$font-weight--main: normal;
$line-height--main: 1;


$width-limiting: 1136px;

// Map for breakpoints
$breakpoints: (
	'phone':        400px,
	'phone-wide':   480px,
	'phablet':      560px,
	'tablet-small': 640px,
	'tablet':       768px,
	'tablet-wide':  1024px,
	'desktop':      1248px,
	'desktop-wide': 1440px
);
