// px to rem
@function rem($pixels, $context: $font-size--main) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}
	@if (unitless($context)) {
		$context: $context * 1px;
	}
	@return $pixels / $context * 1rem;
}

@mixin size($width,$height: $width) {
	width: $width;
	height: $height;
}

// MEDIA QUERIES MIXINS
@mixin media($width) {
	@media (max-width: $width) {
		@content; }
}

@mixin media-sm {
	@media (max-width: 567.98px) {
		@content; }
}
@mixin media-m {
	@media (max-width: 767.98px) {
		@content; }
}
@mixin media-lg {
	@media (max-width: 991.98px) {
		@content; }
}
@mixin media-x-lg {
	@media (max-width: 1199.98px) {
		@content; }
}
