// Font
$font--main: 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$color-font--main: #101010;
$font-size--main: 16px;
$font-weight--main: 400;
$line-height--main: 1;

$width-desktop: 1280px;
$width-desktop--sm: 980px;
$width-tablet: 768px;
$width-phone: 480px;
$width-phone--sm: 320px;

// Main colors
$colors: ('main-100'              : #1f2041,
'main-75'                : rgba(31, 32, 65, 0.75),
'main-50'                : rgba(31, 32, 65, 0.5),
'main-25'                : rgba(31, 32, 65, 0.25),
'main-35'                : rgba(31, 32, 65, 0.35),
'main-10'                : rgba(31, 32, 65, 0.1),
'main-5'                 : rgba(31, 32, 65, 0.05),
'primary'                : #bc9cff,
'secondary'              : #6fcf97);
