.card-container {
	display: flex;
	flex-direction: column;
	padding: 25px;

	text-align: center;

	background-color: #95dada;
	border: 1px solid #bc9cff;
	border-radius: 5px;
	transform: translateZ(0);
	backface-visibility: hidden;
	cursor: pointer;

	transition: transform 0.25s ease-out;
	-moz-osx-font-smoothing: grayscale;
}

.card-container:hover {
	transform: scale(1.05);
}
